:root {
    --greyishColor: #D8D8D8;
    --softWhiteColor: #EEE;
    --fontColor: #1B2430;
}

body {
    font-family: "Montserrat", sans-serif;

    margin: 0;
    padding: 20px;

    background-color: var(--greyishColor);

    color: var(--fontColor);
}

header {
    text-align: center;
}

#title {
    margin: 20px 0 0 0;

    font-size: 2.2rem;
}

#img-div {
    padding: 16px;

    text-align: center;

    background-color: var(--softWhiteColor);
}

#image {
    height: auto;
    width: 400px;
    max-width: 100%;
}

#img-caption {
    margin-bottom: 0;
}

#tribute-info {
    text-align: center;
}
