:root {
    --greyishColor: #D8D8D8;
    --softWhiteColor: #EEE;
    --fontColor: #1B2430;
    --linkColor: #477CA7;
    --linkHoverColor: #1665a7;
}

body {
    font-family: "Montserrat", sans-serif;

    margin: 0;
    padding: 20px;

    background-color: var(--greyishColor);

    color: var(--fontColor);
}

header {
    text-align: center;
}

#title {
    margin: 20px 0 0 0;

    font-size: 2.2rem;
}

#img-div {
    padding: 16px;

    text-align: center;

    background-color: var(--softWhiteColor);
}

#image {
    height: auto;
    width: 400px;
    max-width: 100%;
}

#img-caption {
    margin-bottom: 0;
}

#tribute-info {
    text-align: center;
}

#description {
    font-size: 1.15rem;
}

ul {
    text-align: left;

    max-width: 500px;

    margin: 40px auto 0 auto;
}

ul li {
    margin-bottom: 22px;
}

#quote {
    max-width: 500px;

    font-style: italic;

    margin: 40px auto 0 auto; 
}

#author {
    font-weight: 600;
    text-align: left;

    margin-left: 18px;
}

h3:last-child {
    margin-top: 40px;
}

a {
    color: var(--linkColor);
}

a:hover {
    color: var(--linkHoverColor); 
}

footer {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 5px;

    margin-top: 32px;
}

footer img {
    height: 24px;
    width: 24px;
}

footer a {
    font-weight: 600;
}